html,
body,
#result,
.review-box,
.checkout-box {
  height: 100%;
  margin: 0;
  padding: 0;
}

.detail-box {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
}

body,
button,
input {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1,
.images-box,
.searcher {
  float: left;
  margin: 0;
}

h3,
h4,
h5,
p {
  overflow: auto;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  overflow: auto;
  background-color: black;
  color: white;
  padding: 5px;
}

#result {
  margin-top: 0;
}

#grab-bag {
  float: right;
}

.picture {
  height: 300px;
  width: 500px;
  float: left;
  padding-right: 5px;
  cursor: pointer;
}

.result-box {
  position: relative;
  overflow: auto;
  border-bottom: lightgrey solid 1px;
  padding: 5px;
}

.quick-add {
  position: absolute;
  bottom: 5px;
  left: 510px;
  font-size: 16px;
  color: white;
  background: rgb(78,89,113);
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.images-box {
  overflow: auto;
  padding-right: 5px;
}

.searcher {
  position: relative;
  top: 50%;
  display: inline;
  min-width: 326px;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap;
  width: 100%;
}

.box {
  display: inline-block;
  width: 60%;
  height: 20px;
  vertical-align: middle;
  margin: 10px auto;
}

#search-box {
  width: 100%;
}

input#look-up {
  min-width: 300px;
  width: 100%;
  height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: white;
  background: rgb(78,89,113);
  border: none;
  padding-left: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#logo {
  float: left;
  display: inline;
  max-height: 80px;
  margin-right: 25px;
  cursor: pointer;
}

span.icon {
  position: absolute;
  z-index: 1;
  color: white;
  padding-left: 5px;
  padding-top: 1px;
}

#quantity {
  position: absolute;
  z-index: 1;
  text-align: center;
  height: 28px;
  color: black;
  border: rgb(78,89,113) solid 1px;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.main-picture {
  width: 399px;
  height: 399px;
  float: left;
}

.picture1,
.picture2,
.picture3 {
  display: block;
  width: 123px;
  height: 123px;
}

.picture1,
.picture2 {
  margin-bottom: 15px;
}

.runner {
  float: right;
  height: 100%;
  padding: 20px 5px;
  overflow: auto;
  border-left: lightgrey solid 1px;
  margin: 5px;
}

#quantity,
#grabber {
  font-size: 20px;
}

button#grabber {
  float: right;
  width: 135px;
  height: 30px;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  text-align: right;
  padding-right: 22px;
}

#grabber:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

button {
  cursor: pointer;
}

#grab-bag {
  margin-right: 10px;
}

#review-button,
#checkout-button,
#submit-button,
#grabber,
#back-button {
  width: 135px;
  font-size: 10px;
  color: white;
  background: rgb(78,89,113);
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 0;
}

#checkout-button {
  display: block;
  float: right;
  clear: both;
  margin-right: 0;
}

#back-button {
  display: block;
  float: right;
  clear: both;
  margin-top: 25px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}

.review-picture {
  width: 250px;
  height: 250px;
  float: left;
  padding-right: 5px;
}

.mini-review-picture {
  width: 100px;
  height: 100px;
  float: left;
  padding-right: 5px;
}

.review-item-box,
.review-header,
#sub-title {
  position: relative;
  overflow: auto;
  padding: 5px;
  border-bottom: lightgrey solid 1px;
}

.delivery-text {
  position: relative;
  overflow: auto;
  padding-bottom: 5px;
}

#register-box {
  float: right;
  overflow: auto;
  display: block;
  padding-bottom: 10px;
}

#hidden {
  display: none;
}

.inner-runner {
  float: right;
  overflow: auto;
}

#runner-item {
  display: inline-block;
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

#register-item {
  display: inline-block;
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 12px;
}

#runner-item-total {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 60px;
  font-weight: 600;
  font-size: 16px;
}

.register-left {
  text-align: right;
}

.register-right {
  text-align: left;
}

.incrementer {
  display: block;
  padding-left: 13px;
}

#incrementer-up,
#incrementer-down {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(78,89,113);
  cursor: pointer;
}

#remover {
  position: absolute;
  bottom: 10px;
  left: 265px;
  font-size: 10px;
  font-weight: 600;
  color: blue;
  cursor: pointer;
}

#submit-button {
  display: block;
  float: right;
  clear: right;
}

.form-holder {
  overflow: auto;
  display: block;
  padding-left: 25px;
}

.detail-input {
  display: block;
  height: 14px;
  width: 200px;
  font-size: 10px;
  color: white;
  background: rgb(78,89,113);
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#delivery-options {
  font-size: 12px;
  color: white;
  background: rgb(78,89,113);
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#ship-text,
#ship-container {
  padding: 5px;
}

.shipping-column1,
.shipping-column2,
.payment-column1,
.payment-column2,
.card-column1,
.card-column2,
.review-column1,
.review-column2 {
  display: inline;
  float: left;
  margin: 10px;
}

.checkbox-text {
  display: inline;
  font-weight: 600;
  font-size: 10px;
}

.shipping-box,
.payment-box {
  overflow: auto;
  display: block;
}

.box-title {
  font-weight: 600;
}

.card-detail-box {
  float: left;
  clear: left;
}

#delivery-options {
  display: block;
}

.review-column1 {
  min-width: 340px;
}

.shipping-box {
  margin-top: 15px;
}

.review-column2 {
  border-left: 20px;
  padding-left: 20px;
}

.out-box {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  padding-top: 100px;
}

#result,
body {
  width: 100%;
}

.deal-box {
  width: 60%;
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.no-results-box {
  margin-top: 150px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.deal-picture {
  width: 90%;
}

.deal-box-title {
  padding: 5px;
  font-size: 26px;
  font-weight: 100;
  color: white;
  background: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 5px;
}

.deal-list-price,
.old-price {
  text-decoration: line-through;
}

.mini-grab {
  float: right;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.new-price,
.deal-text {
  color: red;
  padding: 0 5px;
}

.name {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  font-size: 26px;
  font-weight: 100;
  color: white;
  background: black;
}

#mini.name {
  font-size: 16px;
}

#search-name {
  cursor: pointer;
}

.delivery-snap {
  margin-top: 92px;
  text-align: center;
  background: rgb(78,89,113);
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 100;
  padding: 3px;
}
