html,
body,
#result,
.detailBox,
.reviewBox,
.checkoutBox {
  margin: 0;
  padding: 0;
  height: 100%;
}

body,
button,
input {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1,
.imagesBox,
.searcher {
  float: left;
  margin: 0;
}

h3,
h4,
h5,
p {
  overflow: auto;
  margin: 0;
}

.header {
  overflow: auto;
}

#grab-bag {
  float: right;
}

.picture {
  height: 300px;
  width: 500px;
  float: left;
}

.resultBox,
.header,
.runner,
.imagesBox {
  border-width: 2px;
  padding: 5px;
  border-color: black;
  border-style: solid;
  overflow: auto;
}

.resultBox {
  cursor: pointer;
}

.imagesBox {
  padding: 0;
}

.searcher {
  padding-top: 5px;
}

.mainPicture {
  width: 330px;
  height: 330px;
  float: left;
}

.picture1,
.picture2,
.picture3 {
  width: 100px;
  height: 100px;
  display: block;
}

.picture1,
.picture2 {
  margin-bottom: 15px;
}

.runner {
  float: right;
  height: 100%;
  padding-top: 20px;
}

#qty {
  height: 28px;
}

#qty,
#grabber {
  font-size: 20px;
  padding: 0;
  border: 0;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

button#grabber {
  width: 120px;
  height: 30px;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

#grabber:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

button {
  cursor: pointer;
}

#grab-bag {
  margin-right: 0;
}

#review-button,
#checkoutButton,
#submitButton {
  width: 125px;
}

.reviewPicture {
  width: 250px;
  height: 250px;
  float: left;
}

.miniReviewPicture {
  width: 100px;
  height: 100px;
  float: left;
}

.reviewItemBox,
.reviewHeader {
  overflow: auto;
  padding-bottom: 5px;
  position: relative;
}

.reviewItemBox {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

#registerBox {
  float: right;
}

.innerRunner {
  float: right;
  overflow: auto;
}

#runnerItem {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 60px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

#runnerItemTotal {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 60px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.incrementer {
  display: block;
  padding-left: 13px;
}

#incrementerUp,
#incrementerDown {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

#remover {
  position: absolute;
  bottom: 5px;
  left: 260px;
  cursor: pointer;
  border-bottom: 1px black blue;
  font-size: 10px;
  font-weight: 600;
  color: blue;
}

#submitButton {
  display: block;
}

.formHolder {
  overflow: auto;
  display: block;
}

.detailInput {
  display: block;
}

.shippingColumn1,
.shippingColumn2,
.paymentColumn1,
.paymentColumn2,
.cardColumn1,
.cardColumn2,
.reviewColumn1,
.reviewColumn2 {
  display: inline;
  float: left;
  margin: 10px;
}

.checkboxText {
  display: inline;
  font-weight: 600;
  font-size: 10px;
}

.shippingBox,
.paymentBox {
  overflow: auto;
  display: block;
}

.boxTitle {
  font-weight: 600;
}

.cardDetailBox {
  float: left;
  clear: left;
}

.radioButton {
  float: left;
  display: block;
}

#deliveryOptions {
  display: block;
}

.reviewColumn1 {
  min-width: 320px;
}

.shippingBox {
  margin-top: 15px;
}

.reviewColumn2 {
  border-left: 20px;
  padding-left: 20px;
}
